
@{
    ViewBag.Title = "Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Escritorio</a></li>
    <li class="breadcrumb-item active">Sucursales</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-store me-1"></i> Sucursales
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Registrar</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Razon_Social</th>
                    <th>Nombre_Comercial</th>
                    <th>Nombre_Sucursal</th>
                    <th>Rnc</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Suscursales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">

                <input id="txtid" type="hidden" value="0" />

                <div class="row g-1">
                    <div class="col-sm-6">
                        <label for="txtrazonsocial" class="form-label">Razon Social</label>
                        <input type="text" class="form-control" id="txtrazonsocial">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtnombrecomercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="txtnombrecomercial">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtnombresucursal" class="form-label">Nombre Sucursal</label>
                        <input type="text" class="form-control" id="txtnombresucursal">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtrnc" class="form-label">Rnc</label>
                        <input type="text" class="form-control" id="txtrnc">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtdireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="txtdireccion">
                    </div>
                    <div class="col-sm-6">
                        <label for="txttelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="txttelefono">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtemail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="txtemail">
                    </div>
                    <div class="col-sm-6">
                        <label for="cboestado" class="form-label">Estado</label>
                        <select id="cboestado" class="form-select">
                            <option value="1">Activo</option>
                            <option value="0">No activo</option>
                        </select>
                    </div>
                </div>

                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarSucursales", "Compania")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Razon_Social" },
                { "data": "Nombre_Comercial" },
                { "data": "Nombre_Sucursal" },
                { "data": "Rnc" },
                { "data": "Direccion" },
                { "data": "Telefono" },
                { "data": "Email" },
                {
                    "data": "Estado_Compania", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Activo</span>'
                        } else {
                            return '<span class="badge bg-danger">No activo</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });

        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtrazonsocial").val("");
            $("#txtnombrecomercial").val("");
            $("#txtnombresucursal").val("");
            $("#txtrnc").val("");
            $("#txtdireccion").val("");
            $("#txttelefono").val("");
            $("#txtemail").val("");
            $("#cboestado").val(1);

            $("#mensajeError").hide();

            if (json != null) {

                $("#txtid").val(json.Id_Compania);
                $("#txtrazonsocial").val(json.Razon_Social);
                $("#txtnombrecomercial").val(json.Nombre_Comercial);
                $("#txtnombresucursal").val(json.Nombre_Sucursal);
                $("#txtrnc").val(json.Rnc);
                $("#txtdireccion").val(json.Direccion);
                $("#txttelefono").val(json.Telefono);
                $("#txtemail").val(json.Email);
                $("#cboestado").val(json.Estado_Compania == true ? 1 : 0);
            }
            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var sucursalseleccionada = $(this).closest("tr");
            var data = tabladata.row(sucursalseleccionada).data();

            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar la sucursal?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({
                        url: '@Url.Action("EliminarSucursal", "Compania")',
                        type: "POST",
                        data: JSON.stringify({ Id_Compania: data.Id_Compania }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(sucursalseleccionada).remove().draw();
                            } else {
                                swal("No se pudo eliminar", data.mensaje, "error")
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                });
            console.log(data);
        })

        function Guardar() {

            var Sucursal = {

                Id_Compania: $("#txtid").val(),
                Razon_Social: $("#txtrazonsocial").val(),
                Nombre_Comercial: $("#txtnombrecomercial").val(),
                Nombre_Sucursal: $("#txtnombresucursal").val(),
                Rnc: $("#txtrnc").val(),
                Direccion: $("#txtdireccion").val(),
                Telefono: $("#txttelefono").val(),
                Email: $("#txtemail").val(),
                Estado_Compania: $("#cboestado").val() == 1 ? true : false
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarSucursales", "Compania")',
                type: "POST",
                data: JSON.stringify({ obj: Sucursal }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
               success: function (data) {

                   $(".modal-body").LoadingOverlay("hide");

                    //NUEVO
                   if (Sucursal.Id_Compania == 0) {

                        if (data.resultado != 0) {
                            Sucursal.Id_Compania = data.resultado
                            tabladata.row.add(Sucursal).draw(false);
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    //MODIFICAR
                    else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Sucursal).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
               error: function (error) {

                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });

        }

    </script>


}
